<%- include('head.ejs', { title }) %>
<h1>
    <%= title %>
</h1>
<article>
    <a class="button" href="/article/<%= article_id %>/edit">Proposer une modification</a>
    <%- contents %>
</article>
<%- include('footer.ejs') %>
