<%- include('head.ejs', { title: 'Résultats de recherche' }) %>
<h1>Résultats de recherche <%= filtres %></h1>
<div class="flex_container">
    <div class="sorties">x sorties</div>
    <div class="sauves">x personnes et équipages sauvés</div>
    <div class="morts">x morts</div>
</div>

<div class="resultats">
        <% resultats.forEach((resultat) => { %>
        <div>
            <h2><a href="/article/<%= resultat.article_id %>"><%- resultat.title %></a></li>
            <img src="<%- resultat.img %>" alt="Image de l'article"></img>
            </div>
        <% }); %>
</div>
<%- include('footer.ejs') %>

